# Source - https://stackoverflow.com/a/44948518
# Posted by Cynthia Simiyu, modified by community. See post 'Timeline' for change history
# Retrieved 2026-05-12, License - CC BY-SA 3.0

[run]
omit = *test*
